.task-container {
    width: 60%;
    box-sizing: border-box;
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.inputTasks {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid grey;
    opacity: 0.5;
    outline: none;
}

.btn-primary {
    height: 60px;
    border-radius: 10px;
    width: 18%;
}

.content {
    margin-left: 5px;
}

.task.done .content {
    text-decoration: line-through;
}