.task-container {
    width: 60%;
    box-sizing: border-box;
    padding: 0;
}

.taskForm {
    width: 100%;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.inputTasks {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    opacity: 0.5;
    outline: none;
}

.btn-primary {
    height: 45px;
    border-radius: 10px;
    width: 10%;
}

.content {
    margin-left: 5px;
}

.task.done .content {
    text-decoration: line-through;
}

i {
    font-size: 50px;
}

.accordion button {
    width: 100%;
    display: block;
}

.checkTaskBtn {
    color: green;
}

.removeTaskBtn {
    color: red;
}