<div class="container d-flex flex-column align-items-center" style="border: 3px solid red;">
    <h1 class="text-center p-2"><strong>#todo</strong></h1>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="All">
            <br>
            <app-tasks [type]="'all'" (delete)="removeTask($event)" [tasks]="tasks"></app-tasks>
        </mat-tab>
        <mat-tab label="Active">
            <br>
            <app-tasks [type]="'active'" (delete)="removeTask($event)" [tasks]="tasks"></app-tasks>
        </mat-tab>
        <mat-tab label="Completed">
            <br>
            <app-tasks [type]="'completed'" (delete)="removeTask($event)" [tasks]="tasks"></app-tasks>
        </mat-tab>
    </mat-tab-group>
</div>