<div class="container d-flex flex-column align-items-center">
    <h1 class="text-center p-2"><strong>#todo</strong></h1>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="All">
            <br>
            <app-all-tasks (delete)="removeTask($event)" [tasks]="tasks"></app-all-tasks>
        </mat-tab>
        <mat-tab label="Active">
            <br>
            <app-active-tasks (delete)="removeTask($event)" [tasks]="tasks"></app-active-tasks>
        </mat-tab>
        <mat-tab label="Completed">
            <br>
            <app-completed-tasks (delete)="removeTask($event)" [tasks]="tasks"></app-completed-tasks>
        </mat-tab>
    </mat-tab-group>
</div>